<form method="post" id="changeForm" action="/change">
    <input type="hidden" id="id" name="id" value = "{{ id }}"><br><br>

    <label for="cash">Cash:</label>
    <input type="number" id="cash" name="cash" step="1" required ><br><br>
    <input type="submit" value="Change Balance" >
<!--            <button type="button" id="balanceButton">Change Balance</button>-->
</form>

